<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"
                integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="static/css/landing.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="static/js/auth.js" type="text/babel"></script>
        <script src="static/js/landing.js" type="text/babel"></script>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <title>MyLearn</title>
    </head>
    <body>
        <header>
            <img src="static/AI_app_logo-removebg-preview.png" class="logo">
        </header>
        <main>
            <p>
                Take control of your peewonalized learning with our AI powered learning resources.
                <b>
                    - Nexus</b>
            </p>
            <img src="static/4408-removebg-preview.png" class="nexus">
            <br><br><br>
            <div id="react-root">
            </div>
    </body>
</html></main></body></html>
