<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>mylearn</title>
    </head>
    <body>
        <header>
            <img src="static/AI_app_logo-removebg-preview.png" class="logo">
        </header>
        <main>
            <div class="log-in-form">
                <h2>Welcome back!</h2>
                <table>
                    <form>
                        <tr>
                            <td>
                                <label for="email">
                                    <b>
                                        Email Address
                                    </b>
                                </label>
                                <br>
                                <input type="email" placeholder=" Enter your email address..." size="50" required>
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <label for="password">
                                    <b>
                                        Password
                                    </b>
                                </label>
                                <br>
                                <input type="password" placeholder=" Enter your password" size="50" required>
                            </td>
                        </tr>
                        <br><br>
                        <tr>
                            <td>
                                <button>
                                    Sign-In
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>If you don't have an account,
                                    <a href="signup.html">click here</a>
                                </p>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </main>
    </body>
</html>
