{% extends "layout.html" %}
{% block content %}
<div class="jumbo" class="container-fluid text-white" style="background-color: rgb(117, 226, 117); height: 100vh;">
    <h2>Description of what inspired the project 'Mylearn app'<h2>
    <h3><p>The inspiration behind the mylearn app project emerged from the desire to revolutionize the education landscape and address the inherent challenges of traditional classroom settings. Recognizing the importance of personalized and self-paced learning, the project aimed to empower individuals to take control of their education and create an environment conducive to effective knowledge absorption.</p>
    <p>The driving force behind the mylearn app project was the realization that every individual has unique learning preferences, strengths, and weaknesses. The app sought to harness the power of technology to accommodate these differences and provide a platform where learners could tailor their educational journey to suit their needs.</p>
    <p>By leveraging the app's features, students could embark on their learning paths at their own pace, accessing some great resources, including multimedia materials and practice exercises.</p>
    <p>Moreover, the mylearn app project sought to enhance the learning experience by seamlessly integrating the role of instructors. Recognizing that face-to-face instruction remains a vital component of education, the app aimed to bridge the gap between independent learning and instructor-led sessions.</p>
    <p>Ultimately, the mylearn app project sought to create a harmonious synergy between independent learning and instructor-led education. By harnessing the power of technology, this innovative app aspired to empower learners, optimize the educational process, and foster a more engaging and effective learning environment for all.</p></h3>
      <div>
        <div style="display: inline-block; margin-right: 10px;">
          <p>Follow Ahmad Almadny On:</p>
          <a href="https://www.linkedin.com/in/first-person" target="_blank">LinkedIn</a>
          <a href="https://www.linkedin.com/in/first-person" target="_blank">Github</a>
          <a href="https://www.linkedin.com/in/first-person" target="_blank">Twitter</a>
        </div>
        <div style="display: inline-block; margin-right: 10px;">
          <p>Follow Ani Michael Anayo On:</p>
          <a href="https://www.linkedin.com/in/michael-anayo" target="_blank">LinkedIn</a>
          <a href="https://github.com/AniKanayo" target="_blank">Github</a>
          <a href="https://www.linkedin.com/in/first-person" target="_blank">Twitter</a>
        </div>
        <div style="display: inline-block; margin-right: 10px;">
          <p>Follow Brenda Okonofua On:</p>
          <a href="https://www.linkedin.com/in/third-person" target="_blank">linkedIn</a>
          <a href="https://www.linkedin.com/in/first-person" target="_blank">Github</a>
          <a href="https://www.linkedin.com/in/first-person" target="_blank">Twitter</a>
        </div>
      </div>
      <div>
        <div style="display: inline-block; margin-right: 10px;">
          <p class="center-text" style="margin-top: 40px;">Find the link to our repository here:</p>
          <a href="https://www.linkedin.com/in/first-person" target="_blank">Repository</a>
      </div>
      <img src="static/img/mylearn.jpg" alt="Mylearn app image" width="850" height="350" opacity= "-10;">
   </div>
{% endblock %}