{% extends "bootstrap/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid text-white text-center" style="background-color: rgb(117, 226, 117); height: 100vh; display: flex; flex-direction: column; justify-content: center;">
    <div class="jumbo">
      <h1 class="center-text" style="margin-top: -150px;">This is the landing page of Mylearn App<h1>
      <h4 class="center-text" style="margin-top: 70px;">Please login to enjoy its great contents<h4>
    </div>
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control-sm" style="width: 180px;" placeholder="Enter username" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control-sm" style="width: 180px;" placeholder="Enter Password" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary" style="margin-left: 100px;">Login</button>
    </form>
  </div>
{% endblock %}